<div class="about-me-container" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center start" fxFlexFill>
  <div fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="column" fxLayoutGap="1rem">
      <div fxLayout="column">
        <span class="title">Hi!</span>
        <span class="info-text info-text-large regular">I am Rachel,</span>
      </div>
      <span class="info-text">Bezalel Academy of Arts and Design graduate (B.F.A) Animation Dept.</span>
    </div>
    <div fxLayout="column">
      <span class="info-text">Expirienced in the field of graphic design,</span>
      <span class="info-text">including design for animation, broadcast and video.</span>
    </div>
    <div fxLayout="column">
      <span class="info-text">Some of my work includes events, music concerts,</span>
      <span class="info-text">ceremonies, installations, performances and more.</span>
      <span class="info-text">Nowdays also getting in the field of UI/UX web & app design.</span>
    </div>
    <span class="info-text semibold text-shadow">I TRULY LOVE WHAT I DO.</span>
  </div>
  <div>
    <img class="self-image" src="../../../../../assets/images/about-me-rachel.png" alt="">
  </div>
</div>
