@import 'themes';

@import '~@nebular/theme/styles/globals';

:root {
  --root-font-size: 100%;
}

@include nb-install() {

  nb-layout .layout {
    background-color: transparent !important;
  }

  nb-layout-header {
    background-color: transparent !important;
  }

  nb-layout-header nav {
    box-shadow: none !important;
  }

  nb-layout-column {
    padding: 0rem !important;
  }

  .layout-container {
    padding-top: 0rem !important;
}

  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: jost;
  src: url(/assets/fonts/Jost-Variable.ttf);
}


html, body {
  font-size: var(--root-font-size);
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #151a30;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #222b45;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222b45;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

h1,h4 {
  white-space: pre;
}

.custom-backdrop {
  background: rgba(0, 0, 0, 0.8);
}


.mbs-0 {
  margin-block-start: 0em;
}

.nb-card-xs {
  height: 100vh !important;
  width: 100vw !important;
}
