@import 'themes';

@import '~@nebular/theme/styles/globals';

:root {
  --root-font-size: 100%;
  overflow-y: scroll;
}

@include nb-install() {

  nb-layout .layout {
    background-color: transparent !important;
  }

  nb-layout-header {
    background-color: #00000014 !important;
    z-index: 4 !important;
  }

  nb-layout-header nav {
    box-shadow: none !important;
  }

  nb-layout-header.fixed {
    position: absolute !important;
  }

// nb-layout .layout .layout-container .content nb-layout-footer nav {
//     background-color: transparent !important;
//     position: absolute !important;
//     bottom: 0 !important;
//     left: 0 !important;
//     right: 0 !important;
//   }

  nb-layout-column {
    padding: 0rem !important;
  }

  .layout-container {
    padding-top: 0rem !important;
  }

  nb-card.size-giant {
    width: 96em;
  }

  nb-icon.leave-icon svg {
    vertical-align: middle !important;
  }


  @include nb-theme-global();
};
/* You can add global styles to this file, and also import other style files */

// @font-face {
//   font-family: jost;
//   src: url(assets/fonts/Jost-Variable.ttf);
// }

@font-face {
  font-family: opensans-regular;
  src: url(assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: opensans-light;
  src: url(assets/fonts/OpenSans-Light.ttf);
}

@font-face {
  font-family: opensans-bold;
  src: url(assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: opensans-semibold;
  src: url(assets/fonts/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: lobster-regular;
  src: url(assets/fonts/LobsterTwo-Regular.ttf);
}

@font-face {
  font-family: lobster-bold;
  src: url(assets/fonts/LobsterTwo-Bold.ttf);
}


html, body {
  font-size: var(--root-font-size);
  overflow-x: hidden;
}
/* width */
*::-webkit-scrollbar {
  width: 0.7rem;
}

/* Track */
*::-webkit-scrollbar-track {
  background: #151a30;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #222b45;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #222b45;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

h1,h4 {
  white-space: pre;
}

.custom-backdrop {
  background: rgba(0, 0, 0, 0.8);
}


.mbs-0 {
  margin-block-start: 0em;
}

.nb-card-xs {
  height: 100vh !important;
  width: 100vw !important;
}

.media-primary {
  width: 53em;
  height: 40em;
}

.bold {
  font-family: opensans-bold !important;
}

.semibold {
  font-family: opensans-semibold !important;
}

.light {
  font-family: opensans-light !important;
}

.regular {
  font-family: opensans-regular !important;
}

.pink {
  color: #ff3d71 !important;
}

.text-shadow {
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.53);
}
