<div class="contact-container" fxLayout="row"  fxLayout.lt-sm="column"  fxLayoutAlign="start space-between" fxLayoutAlign.lt-sm="center start" fxLayoutGap.lt-sm="1rem" fxFlexFill>
  <div fxFlex fxLayout="row" fxLayoutAlign="center start">
    <div fxLayout="column" fxLayoutGap="2rem">
      <span class="title">LETS TALK</span>
      <div fxLayout="column" fxLayoutGap="1rem">
        <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
          <nb-icon class="info-icon" icon="email-outline"></nb-icon>
          <span class="info-text">Rachel.lavy.il@gmail.com</span>
        </div>
        <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start center">
          <nb-icon class="info-icon" icon="phone-outline"></nb-icon>
          <span class="info-text">+972-522248900</span>
        </div>
      </div>
      <!-- <div fxLayout="row" fxLayoutGap="0.5rem" fxLayoutAlign="start end" fxHide.lt-sm>
        <div fxLayout="column">
          <span class="leave-text">OR JUST</span>
          <span class="leave-text">LEAVE YOUR</span>
          <span class="leave-text">DETAILS OVER THERE</span>
        </div>
        <nb-icon class="leave-icon" icon="chevron-right-outline"></nb-icon>
      </div> -->
    </div>
  </div>
  <!-- <form class="contact-form"
        #form="ngForm"
        fxFlex
        fxLayout="column"
        (ngSubmit)="sendEmail($event, form)"
        fxLayoutAlign="start start"
        fxLayoutGap="0.4rem"
        fxHide.lt-sm>
    <input nbInput fieldSize="large" name="name" placeholder="Name" >
    <input nbInput fieldSize="large" name="email" placeholder="Email">
    <input nbInput fieldSize="large" name="phone" placeholder="Phone">
    <textarea nbInput fieldSize="large" name="message" placeholder="Type your message here..."></textarea>
    <div class="actions-container" fxLayout="row" fxLayoutAlign="space-between center">
      <span
        class="sent-message"
        [ngStyle]="{'visibility': isSent ? 'visible': 'hidden'}"
        >Message Sent, We'll be in touch!</span>
      <button class="submit" type="submit" value="Send" nbButton filled status="danger" fxFlexAlign="start">Submit</button>
    </div>
  </form> -->
</div>
